* {
    margin: 0;
    list-style: none;
}






#middle {
    margin: auto;
    height: 1450px;
    max-width: 1000px;
}


form img {
    width: 50px;
}

form > div {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}


form > #vote {
    float: right;
    color: white;
    background-color: purple;
    box-shadow: 0px 0px 10px 0px rgba(100, 90, 50, 0.5);    
    border: 0;
}

form > #result {
    margin-left: 8px;
    float: right;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(100, 90, 50, 0.5);
    border: 0;
}

#aside-poll-footer {
    clear: right;
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

main {
    float: left;
    margin-left: 20px;
}

main>div {
    font-weight: bold;
}

main>section>img {
    width: 115px;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px rgba(100, 90, 50, 0.5);
}

#main-popular {
    float: left;
    margin-right: 20px;
}

tr:nth-child(odd) {
    background-color: rgba(128, 128, 128, 0.068);
}

table {
    border-collapse: collapse;
}

th {
    padding: 5px;
    background-color: white;
}

td {
    padding: 5px;
    font-weight: normal;
}

#main-latest {
    margin: auto;
}

footer {
    clear: left;
    margin-left: 160px;
    height: 40px;
    max-width: 1000px;
    padding: 0;
    
}

footer li {
    margin-right: 10px;
    float: left;
}

footer li a {
    text-decoration: none;
    color: rgba(128, 128, 128, 0.6);
}